table {
    border-collapse: collapse;
    border: 1px solid black;
}

table thead th {
    padding: .5rem .75rem;
    border: 2px solid black;
}

td {
    padding: .75rem 1rem;
    border: 1px dotted black;
}

label {
    display: block;
}

span {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

form div label {
    display: inline;
}